.product-detail{
    width: 100%;
    max-width: 509px;
    font-family: Montserrat;
    padding: 24px 0;
    color: #252B42;
}

.product-nav{
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    padding: 24px 50px;
}

.product-nav nav{
    display: flex;
    gap: 15px;
    
}

.product-nav nav .link{
    text-decoration: none;
    color: #252B42;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.product-nav nav img{
    width: 9px;
    height: 16px;
    margin-top: 5px;
}

.product-nav nav h6{
    color: #BDBDBD;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.shop-product{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
}

.product-name{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.rating{
    display: flex;
    gap: 10px;
}

.star-rating{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.star-rating img{
    width: 22.01px;
    height: 22.01px;
}

.rating p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.product-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.avail-status{
    display: flex;
}

.avail{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.availability{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
}

.added-mobile{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #858585;
    padding-top: 30px;
}

.demarcate{
    border: 1px solid #BDBDBD;
    width: 445px;
    margin-top: 150px;
}


.colour-choice{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 24px;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 24px;
}

.like-btn, .add-to-cart-btn, .more-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 44.79px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.options-btn{
    background-color: #23A6F0;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-description{
    display: none;
}

.bestseller-products{
    display: none;
}

.grand-footer{
    display: flex;
    flex-direction: column;
}

.brands{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    padding: 50px 0;
    background: #FAFAFA;
}

@media(min-width:769px){
    .product-detail{
        width: 100%;
        max-width: none;
    }

    .product-nav nav{
        flex-direction: row;
    }

    .shop-product{
        flex-direction: row;
    }

    .added-mobile{
        display: none;
    }

    .product-description{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;

    }

    .product-description ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        padding: 24px;
    }

    .product-description ul li a{
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .review-no{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .review-no p{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #23856D;
    }

    .line{
        border: 1px solid #ECECEC;
        width: 1049px;
        margin-top: 0;
        align-self: center;
        margin-bottom: 24px;
    }

    .description-detail{
        display: flex;
        margin: auto;
        width: 70%;
        padding: 24px 0 48px 0;
        align-items: center;
        gap: 10rem;
    }

    .description-text h3{
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }

    .description-text p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .line-paragraph{
        display: flex;
        gap: 24px;
    }
    .vertical-line{
        border: 3px solid #23856D;
        max-width: 60px;
    }

    .line-paragraph p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .bestseller-products{
        display: flex;
        flex-direction: column;
        padding: 24px 50px;
        margin: auto;
        background: #FAFAFA;

    }

    .bestseller-products h3{
        padding-left: 13rem;
        padding-bottom: 10px;
    }
    .brands{
        flex-direction: row;
    }
}