.shopping-cart{
    width: 100%;
    color: #252B42;
    font-family: Montserrat;
    background: #FAFAFA;

}

.cart-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 200px); 
    padding: 20px 0;
}

.cart-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.cart-nav{
    padding: 24px 0;
}

.cart-nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.cart-nav ul li{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.cart-nav ul li .shop-lite{
    color: #BDBDBD;

}

.order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    gap: 56px;
    padding: 0 0 48px 0;
}

.order-details{
   
    background: #FFFFFF;
    padding: 24px;
}

.order-summary{
    background: #FFFFFF;
}

.cart-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 33.6px;
    text-align: left;
    color: #121517;

}

.table{
    border-collapse: collapse;
}

.table-head{
    display: none;
    align-items: start;
    background: #3B4148;
    border-radius: 4px 4px 0 0;
    color: #FEFEFE;
    text-align: left;
}

.table-head .table-row{
    display: flex;
}

.table tr td{
    padding: 10px;
    padding-top: 30px;
}

.table-head .table-row th{
    font-size: 14px;
    font-weight: 600;
    line-height: 22.65px;
    letter-spacing: 0.002em;
    text-align: left;
    padding: 10px;
}

.table-head .table-row .details{
    margin-right: 180px;
}

.table-head .table-row .amount{
    margin-right: 60px ;
}

.item-details{
    display: flex;
    flex-direction: column;
}

.min-detail{
    display: flex;
    gap: 16px;
}

.item-info h3{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    letter-spacing: 0.004em;
    text-align: left;
    color: 2B2B2B;
}

.available{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.004em;
    text-align: left;
    color: #2BA501;
}

.rating-tab{
    display: flex;
    justify-items: center;
    gap: 5.8px;
}

.five-star{
    display: flex;
    flex-direction: row;
    gap: 1.74px;
}

.five-star img{
    width: 14.5px;
    height: 14.5px;
}

.rating-tab p{
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
    letter-spacing: 0.004em;
    color: #3A3C3E;
}

.remove{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.remove img{
    width: 9.33px;
    height: 12px;
}

.remove p{
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    letter-spacing: 0.004em;
    text-transform: capitalize;
    color: #23A6F0;
}

.quantity-controls{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.quantity-controls button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.quantity-controls .reduce{
    background: #E8EAEC;
}

.quantity-controls input{
    width: 64px;
    border: 0.5px solid #3A3C3E;
    border-radius: 4px;
    text-align: center;
}

.quantity-controls .increase{
    background: #23A6F0;
    color: #FFFFFF;

}

.item-price p .price{
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.002em;
    text-align: left;
    color: #121517;
}

.item-price p .price-quantity{
    font-family: Lato;
    font-size: 15.58px;
    font-weight: 400;
    line-height: 25.21px;
    letter-spacing: 0.002em;
    text-align: left;
    color: #6C6C6C;
}

.table tbody tr{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DCDCDC;
    margin-top: 24px;
}

.order-summary{
    padding: 24px;
}

.summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: #121517;
    padding: 20px 0;
}

.summary h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.summary p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

.delivery-charges{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    gap: 121px;
}

.delivery-charges h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.002em;
    text-align: left;
    color: #3A3C3E;
    width: 50%;
}

.delivery-charges p{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.004em;
    text-align: right;
    color: #F56666;
    width: 22%;
}

.borderline{
    border: 1px solid #DCDCDC;
}

.subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.002em;
    text-align: left;
    color: #3A3C3E;
    padding: 20px 0;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #121517;
    padding: 20px 0;
}

.extra-charges{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0;
}

.charges{
    width: 20%;
    text-align: right;
    padding: 20px 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #F56666;
    margin-right: 0;
}

.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 16px 20px;
    background: #23A6F0;
    color: #FFFFFF;    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 40px;
}

.payment-mode{
    display: flex;
    gap: 16px;
    padding: 24px 0;
}

.related{
    display: none;
    width: 90%;
    margin: 0 auto;
    padding: 24px 0;
}

.related h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.best-related{
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

@media (min-width: 769px){
    .order-container{
        flex-direction: row;
    }

    .table-head{
        display: table-header-group;
    }

    .table tbody tr{
        flex-direction: row;
    }


    .related{
        display: block;
    }
}